# phpstorm project files
.idea/
/nbproject/
# local config files
*.env
!test.env

# Git auth. token (to get past rate limiting for composer).
auth.json

vendor/
*.aes

# PHP-CS-Fixer cache file.
.php_cs.cache
.php-cs-fixer.cache

api.html

dockercfg

# These folders are intended to offer a way to add logging for toubleshooting purposes
serverless-mfa-api/override/*.go
serverless-mfa-api/override/server/*.go
u2f-simulator/override/*.go
u2f-simulator/override/u2fserver/*.go

# Test email messages are stored in application/frontend/runtime/mail
application/frontend/runtime/
