# Vagrant folder
.vagrant/

# phpstorm project files
.idea/
/nbproject/
# local config files
local.env

# Git auth. token (to get past rate limiting for composer).
auth.json

vendor/
*.aes

# PHP-CS-Fixer cache file.
.php_cs.cache

api.html

dockercfg
