# Vagrant folder
.vagrant/

# phpstorm project files
.idea/
/nbproject/
# local config files
local.env

# Git auth. token (to get past rate limiting for composer).
auth.json

vendor/
*.aes

# PHP-CS-Fixer cache file.
.php_cs.cache

api.html

dockercfg

# These folders are intended to offer a way to add logging for toubleshooting purposes
serverless-mfa-api/override/*
serverless-mfa-api/override/server/*
u2f-simulator/override/*
u2f-simulator/override/u2fserver/*