### Required ENV vars
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
# format is comma-separated tokens (no-space), e.g., abc123,def456,ghi789
API_ACCESS_KEYS=

### Optional ENV vars
# [prod|dev|test], app defaults to prod
APP_ENV=
