### Required ENV vars
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
API_ACCESS_KEY=

### Optional ENV vars
# [prod|dev|test], app defaults to prod
APP_ENV=

# used to help speed up builds, prevent rate limit issues from github, etc.
COMPOSER_HOME=

FRONT_COOKIE_SECURE= # TODO: is this necessary for this app? see frontend's main.php
